{% load wagtailroutablepage_tags %}

<div class="col-md-12">
    {% if tags %}
        <h2>All Tags.</h2>
        <div id="tag-cloud">
            {% for tag in tags %}
                <a class="text-dark" 
                    style="font-size: {{ tag.weight|floatformat }}em;" 
                    data-slug="{{ tag.tag__slug }}" 
                    href="{% routablepageurl root_page 'posts_by_tag' tag.tag__slug %}">
                    {{ tag.tag__name }}
                </a>
                {% if forloop.counter < num_tags %}
                    <span style="font-size: {{ max_font_size }}em;"> | </span>
                {% endif %} 
            {% endfor %}
        </div>
    {% else %}
        <h2>No Tags.</h2>
    {% endif %}
</div>
<hr />