{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailembeds_tags %}
{% load wagtailimages_tags %}

{% load markdownmath_tags %}
{% load mainapp_tags %}

{% block content %}

    {% image page.header_image original class='img-fluid' %}

    <h1 class="pt-4">{{ page.title }}</h1>

    {% for block in post.body %}
        {% if block.block_type == 'paragraph' %}
            <div class="test-justify">
                {% include_block block %}
            </div>

        {% elif block.block_type == 'image' %}
            {% render_figure block %}

        {% elif block.block_type == 'embed' %}
            <div class="embed-responsive embed-responsive-16by9 mb-3">
                {% embed block.value.url %}
            </div>

        {% elif block.block_type == 'markdown' %}
            <div class="test-justify">
                {{ block.value|markdown|safe }}
            </div>

        {% elif block.block_type == 'document' %}
            {# document block are not displayed. Instead, All the text, with is the same #}
            {# as document title gets replaced with the document link. #}
            {# document does not have cut_flag, so that the links are correctly build whn posts listed #}
            
            <a href="{{ block.value.url }}" class="doc-link">{{ block.value.title }}</a>

            {# {% include_block block %} #}

        {% else %}
            {% include_block block %}

        {% endif %}

    {% endfor %}

{% endblock %}

{% block sidebar %}
    <div class="overflow-max-height">
        {% if page.show_search %}
        <div class="row no-gutters pl-1">
            {% include 'main/components/sidebar_search.html' %}
        </div>
        <hr />
        {% endif %}
        {% if page.show_tag_cloud %}
        <div class="row no-gutters pl-1">
            {% render_tag_cloud page %}
        </div>
        <hr />
        {% endif %}
        {% if page.show_categories %}
        <div class="row no-gutters pl-1">
            {% render_blog_categories page %}
        </div>
        {% endif %}
    </div>
{% endblock %}