{% extends "base.html" %}

{% load static %}
{% load wagtailcore_tags %}
{% load wagtailembeds_tags %}
{% load wagtailimages_tags %}
{% load wagtailroutablepage_tags %}

{% load humanize %}

{% load sciwagblocks_tags %}
{% load mainapp_tags %}

{% block content %}

    {% render_post post False %}

    {% if previous_post or next_post %}
        <div class="row justify-content-between">
            <div class="col-md-5">
                {% if previous_post %}
                    <p class="font-italic">Previous post:</p>
                    <h3><a href="{% post_date_url previous_post root_page %}" class="text-dark">{{ previous_post.title }}</a></h3>
                {% endif %}
            </div>
            <div class="col-md-5 text-right">
                {% if next_post %}
                    <p class="font-italic">Next post:</p>
                    <h3><a href="{% post_date_url next_post root_page %}" class="text-dark">{{ next_post.title }}</a></h3>
                {% endif %}
            </div>
        </div>

        <hr />
    {% endif %}

    {% if post.show_comments %}
        {% render_comments post root_page %}
    {% endif %}

{% endblock %}  

{% block sidebar %}
    <div class="overflow-max-height">
        <div class="row no-gutters pl-1">
            <div class="col-md-12">
                <p><h6><i>By <a href="{% routablepageurl root_page 'posts_by_owner' post.owner.username %}" class="text-dark">
                    {% if post.owner.first_name or post.owner.last_name %}
                        {{ post.owner.first_name }} {{ post.owner.last_name }}
                    {% else %}
                        {{ post.owner.username }}
                    {% endif %}
                </a></i></h6></p>
            </div>
        </div>
        <div class="row no-gutters pl-1">
            <div class="col-md-12">
                <p class="font-italic">First came: {{ post.first_published_at.date|naturalday:'d E, Y' }} {{ post.first_published_at.time|naturaltime }}</p>
            </div>
        </div>
        {% if post.last_published_at > post.first_published_at %}
            <div class="row no-gutters pl-1">
                <p class="font-italic">Last updated: {{ post.last_published_at.date|naturalday:'d E, Y' }} {{ post.last_published_at.time|naturaltime }}</p>
            </div>
        {% endif %}

        {% if post.show_sidebar %}
        <div class="row no-gutters pl-1 mt-4 mb-4">
            <div class="col-md-12">
                <nav>
                    <div class="nav nav-tabs" id="post-nav" role="tablist">
                        <a class="nav-item nav-link active" 
                            id="contents-tab" 
                            data-toggle="tab" 
                            href="#contents" 
                            role="tab" 
                            aria-controls="contents" 
                            aria-selected="false">
                            Contents
                        </a>
                        <a class="nav-item nav-link" 
                            id="graphics-tab" 
                            data-toggle="tab" 
                            href="#graphics" 
                            role="tab" 
                            aria-controls="graphics" 
                            aria-selected="false">
                            Graphics
                        </a>
                        <a class="nav-item nav-link" 
                            id="equations-tab" 
                            data-toggle="tab" 
                            href="#equations" 
                            role="tab" 
                            aria-controls="equations" 
                            aria-selected="true">
                            Equations
                        </a>
                    </div>
                </nav>
                <div class="tab-content" id="post-nav-content">
                    <div class="tab-pane fade show active" id="contents" role="tabpanel" aria-labelledby="contents-tab">
                        <div class="text-truncate">
                            <nav class="navbar navbar-light">
                                <nav id="nav-contents" class="nav nav-pills flex-column">

                                </nav>
                            </nav>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="graphics" role="tabpanel" aria-labelledby="graphics-tab">
                        {# modal_idx is needed to correctly create popup modals #}
                        {% for block in graphics %}
                            <div class="figure-container pt-4">
                                {% if block.block_type == 'figure' or block.block_type == 'table_figure' %}
                                    <figure class="figure">
                                        {% image block.value.image original class='img-fluid' %}
                                        {% if block.value.caption %}
                                            <figcaption class="figure-caption">
                                                {{ block.value.caption|markdown|safe|truncatechars:100 }}
                                            </figcaption>
                                        {% endif %}
                                    </figure>
                                {% endif %}
                                {% if block.block_type == 'table' %}
                                    <figure class="figure">
                                        <img class="img-fluid" alt="Table Icon" src="{% static 'icons/table-icon.svg' %}" width="500" height="300">
                                        <figcaption class="figure-caption">
                                            {{ block.value.caption|markdown|safe|truncatechars:100 }}
                                        </figcaption>
                                    </figure>
                                {% endif %}
                                <!-- Button trigger show image in modal -->
                                <button type="button" 
                                    class="btn btn-info figure-button" 
                                    data-toggle="modal" 
                                    data-target="#modal-graphic-{{ forloop.counter0 }}">
                                    Enlarge
                                </button>
                                <hr />
                            </div>
                        {% endfor %}
                    </div>

                    <div class="tab-pane fade" id="equations" role="tabpanel" aria-labelledby="equations-tab">
                        {# loop through equations to add them to the sidebar #}
                        {% for block in equations %}
                            <div class="equation-container pt-4 text-truncate">
                                {{ block.value.equation }}
                                {% if block.value.caption %}
                                    <div class="figure-caption">
                                        {{ block.value.caption|markdown|safe|truncatechars:100 }}
                                    </div>
                                {% endif %}
                                <!-- Button trigger show image in modal -->
                                <button type="button" 
                                    class="btn btn-info equation-button" 
                                    data-toggle="modal" 
                                    data-target="#modal-equation-{{ forloop.counter0 }}">
                                    View
                                </button>
                                <hr />
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {# End of post.show_sidebar #}
        {% endif %}
    </div>
{% endblock %}

{% if post.show_sidebar %}
{% block modal %}
    {% for block in graphics %}
    <div class="modal fade" 
        id="modal-graphic-{{ forloop.counter0 }}" 
        tabindex="-1" role="dialog" 
        aria-labelledby="label-graphic-{{ forloop.counter0 }}" 
        aria-hidden="true">
        <div class="modal-dialog modal-responsive" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="label-graphic-{{ forloop.counter0 }}">
                        {% if block.block_type == 'figure' %}
                            Figure.
                        {% else %}
                            Table.
                        {% endif %}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% include_block block %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% for block in equations %}
        <div class="modal fade" 
            id="modal-equation-{{ forloop.counter0 }}" 
            tabindex="-1" role="dialog" 
            aria-labelledby="label-equation-{{ forloop.counter0 }}" 
            aria-hidden="true">
            <div class="modal-dialog modal-responsive" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="label-equation-{{ forloop.counter0 }}">
                            Equation.
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-justify">
                            {{ block.value.equation }}
                        </div>
                        {% if block.value.caption %}
                            <div class="text-justify figure-caption">
                                {{ block.value.caption|markdown|safe }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{# end of post.show_sidebar if #}
{% endif %}


{% block extra_js %}
    <script type="text/javascript">
        // generate table of contents
        $(document).ready(function() {
            generateContents();
        });
        
        // set max-width the modals based on image width 
        $(window).on('load', function(){
            // Set the max-width of the modal slighlty bigger than the 
            // width of the image it is supposed to show. Thus the image is shown
            // in its original size and in the middle of the modal.
            $('.modal-dialog').each(function(i, modal){
                img_width = $(modal).find('img').attr('width');                
                $(modal).css('max-width', parseInt(img_width) + 50);
            })
        });
        
    </script>
{% endblock %}